.navbar,
.navbar-brand,
.navbar-nav,
.form,
#about,
.about-list,
.about-image,
.about-header,
#social-proof,
#social-proof img,
.rank,
#rank,
.Professional,
#service-list,
#service-box,
#service-card,
#service-card h4,
#service-card p,
#service-card .row,
#reviews,
.reviews-header,
#reviews .row,
#reviews .col-4,
#contact,
#contact .row,
#contact .col-6,
footer,
footer .row,
.copyright,
footer .row img,
.nav-link,
.social,
#syllabus,
#syllabus .row {
  /* border: 2px solid red; */
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#body-color {
  background-color: #f8ede5;
}

body,
#rank {
  background-color: #f8ede5;
}

.collapse form input {
  border-radius: 50px 0 0px 50px;
  width: 150%;
}

.collapse form button {
  padding: 10px 20px 10px 20px;
  border-radius: 0 50px 50px 0;
}

#about {
  background-image: url(../images/hero.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 80px 80px;
}

#about-image img {
  width: 100%;
}

.about-list .about-header {
  font-size: 4rem;
}

.about-list p {
  font-size: 1rem;
}

.about-list .btn,
#contact .btn {
  background-color: #ebc7b5;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 30px 20px 30px;
  border-radius: 50px;
}

.about-list .btn:hover, #contact .btn:hover {
  background-color: white;
  color: black;
}

.navbar-nav {
  gap: 1rem;
}

.navbar-nav a {
  color: white;
}

.rank #rank {
  border-radius: 50px;
  padding: 3rem;
  font-size: 10px;
}

.about .rank {
  padding: 5rem;
}

.Professional {
  background-image: url(../images/hero.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 80px 80px;
}

.Professional {
  
}

#service-list {
  padding-bottom: 2rem;
}

#service-box {
  padding: 0 0rem;
  gap: 2rem;
}

#service-card {
  background-color: #f8ede5;
  padding: 2rem 2rem 0rem 2rem;
  border-radius: 50px 50px 0px 0px;
}

#service-box #service-card .row .col-6 {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  padding: 0;
}

#service-box #service-card .row .col-6 a {
  text-decoration: none;
  color: black;
}

#contact {
  background-image: url(../images/hero.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 80px 80px;
}

#contact input {
  border-radius: 50px;
  border: 2px solid white;
  outline: none;
  background: none;
  padding: 20px 30px 20px 30px;
}

.social {
  border-radius: 50px;
  padding: 0rem;
  gap: 1rem;
}

.social a i {
  color: black;
  border: 2px solid black;
  border-radius: 50px;
  padding: 0.5rem;
}

.social a i:hover {
  background-color: #3c8aac;
}

footer .nav-link {
  color: black;
}

footer .nav-link:hover {
  color: #3c8aac;
}

footer .row address:hover {
  color: #3c8aac;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.whatsapp-float i {
  color: #3c8aac;
  font-size: 50px;
}